.form .add-product{
    width: 150px;
    background-color: transparent;
    color: #000957;
    font-family: 'Saira Condensed', sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    border: 2px solid #e85b40;
    transition: 0.4s;
    font-weight: 700;
    margin-top: 50px;
}

.add-product:hover{
    color: white;
    background-color: #e85b40 !important;
    border: 2px solid #e85b40 !important;
}