.order-container{
    display: flex;
    flex-direction: column;

}

.order-image{
    width: 100px;
    border-radius: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

.order{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #041562;
}

.order li{
    list-style: none;
    margin-bottom: 10px;
}

.order-name, .order-price{
    margin-right: 10px;
    font-size: 18px;
}