@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500;700&display=swap');
.navbar{
    background-color: #000957;
    color: white;
}

.navbar-brand {
    color: white !important;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.navbar-brand 
 span{
    color: #e85b40;
    
 }

.navbar-nav .nav-link{
    color: white !important;
    font-weight: 500;
    font-size: 22px;
    font-family: 'Saira Condensed', sans-serif;
}

.navbar-nav .nav-link.active{
    color: #e85b40 !important;
}