.banner{
    font-family: 'Roboto', sans-serif;
}

.carousel-caption{
    top: 40%;
}

.banner-button{
    background-color: transparent;
    color: white;
    border: 2px solid #e85b40;
    border-radius: 5px;
    padding: 8px 15px;
    transition: 0.4s;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-button:hover{
    background-color: #e85b40;
    color: white;
}

@media only screen and (max-width: 576px) {
    .carousel-caption{
        top: 20%;
    }
    .carousel-caption > p {
        display: none;
    }
    .carousel-item > img{
        width: auto;
        height: 300px;
    }
    .banner-button{
        background-color: transparent;
        color: white;
        border: 2px solid #e85b40;
        border-radius: 5px;
        padding: 5px 10px;
        transition: 0.4s;
        font-weight: 700;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 992px){
    .carousel-caption{
        top: 15%;
    }
    .carousel-item > img{
        width: auto;
        height: 400px;
    }
}