.home-product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}

@media only screen and (max-width: 576px) {
    .home-product-container{
        grid-template-columns: repeat(1, 1fr);
        
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px ) {
    .home-product-container{
        grid-template-columns: repeat(2, 1fr);
        
    }
}